#login-form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 600px;

    opacity: 0;
    animation: fadeInAnimation 300ms ease-in-out forwards;
}